@charset "utf-8";
/* CSS Document */
div, p, ul, li, body, img, h1, h2, h3, h4, h5, a, dl, dt, dd, table, tr, td, th, form, input, em, strong, span {
	margin:0;
	padding:0;
	border:none;
	font-family:"宋体",Arial, Helvetica, sans-serif,Simsun ;
	font-size:12px;
}
@font-face{
    font-family:"Century Gothic";
    src:url(../../Century%20Gothic.ttf);
}
@font-face {
    font-family:Shruti;
    src:url(../../Shruti.ttf);
}
body {
	background-color:#eee;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;underline:none;
}
/*导航条*/
.navbg {
	width:100%;
	height:80px;
	background-color:#522a5c;
	color:#FFF;
}
.nav {
	max-width:980px;
	_width:980px;
	margin:0 auto;
	overflow:hidden;
}
.mylogo {
	font-size:30px;
	float:left;
	font-family:Shruti,"Century Gothic",Arial;
	padding-top:34px;
}
.nav_menu {
	float:right;
}
.nav_menu li {
	float:right;
	vertical-align:bottom;
	padding-left:28px;
	font-size:14px;
	padding-top:58px;
}
.nav_menu li a {
	display:block;
	float:left;
	height:14px;
	color:#FFF;
	font-size:14px;
	line-height:14px;
}
.githubLogo {
	float:right;
	margin-top:-26px;
	margin-right:10px;	
	width:30px;
	height:34px;
	background:url(../design/icon-github.png) no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='design/icon-github.png',sizingMethod="crop");
	
}

@media all and (max-width: 980px){
	.githubLogo{display:none;
	}
}
/*上中下的中间栏*/
.blog {
	width:980px;
	margin:0 auto;
	margin-top:20px;
	padding-bottom:50px;
}
/*左边栏*/
.left_bar {
	float:left;
	width:710px;
	
}
/*左边的文章栏*/
.blog_article{
	position:relative;
	background:#FFF;
	margin-bottom:10px;
	padding:20px;
}
.blog_article h2 {
	font-size:16px;
	line-height:18px;
	color:#A660B7;
}
.blog_article h3 {
	font-size:12px;
	color:#666;
	line-height:300%;
}
.blog_article p {
	line-height:180%;
	text-indent:2em;	
}
.dateinfo {
	text-align:right;
	font-weight:normal;
	color:#999;
	font-size:12px;
	line-height:14px;
}
	
.blog_tips {
	position:absolute;
	top:20px;
	left:-50px;
	_margin-left:-20px;
	z-index:100;
	width:50px;
	height:80px;
	line-height:40px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	background:#522A5C;	
}
.blog_tips span {
	display:inline-block;
	width:50px;
	height:40px;
	line-height:40px;
	background:#A660B7;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
/*翻页*/
div.page {
	position:absolute;
	width:710px;
}
ul.page {
	float:left;
    position:relative;
    left:50%;
}
.page li {
	position:relative;
    left:-50%;
	display:block;
	float:left;
	padding:13px 18px;
	background:#FFF; 
	margin:0 5px;
	color:#CCC;
	font-size:12px;
	line-height:14px;
}


.page li a {
	text-decoration:none;
	color:#000;	
}

li.current_page {
	background-color:#A660B7;
	
}
li.current_page a {
	color:#fff;
}


/*右边栏*/
.right_bar {
	float:right;
	width:260px;
}
/*搜索文章框*/
.search_bg {
	background:#fff;
	padding:19px ;
	_padding-bottom:0px;
	overflow:hidden;
	_zoom:1;
}
.search_box {
	float:left;
	width:168px;
	height:40px;
	border:1px solid #ddd;
	
}
.search_box img{
	float:left;
}
.search_box input {
	width:110px;
	float:left;
	border:0;
	color:#ccc;
	font-size:14px;
	line-height:14px;
	margin-top:13px;
	margin-left:8px;
}
.search_button {
	float:left;
	height:42px;
	background-color:#ddd;	
	color:#fff;
	font-family:"Century Gothic", Arial;
	font-size:24px;
}
	/*文章导航栏*/
.article_nav {
	margin-top:10px;
	width:260px;
	background:#FFF;
	border-top:1px solid #ddd;
}
.article_nav a {
	display:block;
	height:50px;
	padding-left:20px;
	border-bottom:1px solid #ddd;
	border-left:4px solid #DFC6E6;
	font-size:14px;
	color:#666;
	line-height:48px;
}
.article_nav a:hover {
	border-left:4px solid #522A5C;
}
/*日历*/
.calender {
	width:260px;
	margin-top:10px;
	background:#FFF;
	padding-top:24px;
	padding-bottom:24px;
}
.calender table {
	margin-left:19px;
	text-align:center;
}
.calender table th {
	word-spacing:0.2em;
	font-size:14px;
	color:#773B87;	
}
.calender table td{
	line-height:32px;
	width:31px;
	border:0;
	border-bottom:1px solid #ddd;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
}
.calender td a {
	color:#773B87;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.calender table span{
	background-color:#522A5C;
	color:#fff;
	padding:5px 8px;
	font-family:Arial, Helvetica, sans-serif;
}
/*文章关键字*/
.tags{
	padding:12px 15px;
	margin-top:10px;
	width:230px;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
.tags h5 {
	padding-bottom:18px;
	font-weight:normal;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:14px;
	
}
.tags p {
	font-family:Arial, Helvetica, sans-serif;
	color:#773B87;
	font-size:12px;
}
.tags p em {
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:32px;
}
.tags p strong {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:20px;
}
.tags p span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;	
}
/*Footer*/
.footer {
	text-align:center;
	background-color:#000;
	color:#fff;
	font-size:14px;
}
.footer a{
	color:#fff;
	text-decoration:none;
	underline:none;
	font-size:14px;
}
.footer a:hover,.footer a:active{
	text-decoration:underline;
	color:#fff;
	font-size:14px;
}
.footer_index{
	width:100%;
	text-align:center;
	border-bottom:1px solid #333;
}
.footer_index li{
	display:inline-block;
	margin:0 10px;
	line-height:300%;
}
/*友情链接*/
/*友情链接*/
.footer_link{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 45px;	
}
.link_address li {
	float:left;
	text-align:left;
	margin-right:90px;
}
li.last_address {
	margin-right:0px;
}
.link_address h4 {
	margin-bottom:30px;
	color:#ccc;
	font-weight:normal;
}
.link_address  a{
	display:block;
	padding:0.4em 0;
	font-size:14px;
	color:#FFF;
}

/*版权声明*/
.footer p {
	padding-top:110px;
	padding-bottom:20px;
}
.footer_githubloge {
	display:block;
	margin:0 auto;
	width:30px;
	height:34px;
	background:url(../design/icon-github.png) no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='design/icon-github.png',sizingMethod="crop");
}
